[submodule "zsh/extras/oh-my-zsh"]
	path = zsh/extras/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/extras/zsh-autosuggestions"]
	path = zsh/extras/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/extras/zsh-syntax-highlighting"]
	path = zsh/extras/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/extras/autoupdate"]
	path = zsh/extras/autoupdate
	url = https://github.com/TamCore/autoupdate-oh-my-zsh-plugins.git
