[submodule "zsh/extras/custom/plugins/zsh-autosuggestions"]
	path = zsh/extras/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/extras/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/extras/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/extras/custom/plugins/autoupdate"]
	path = zsh/extras/custom/plugins/autoupdate
	url = https://github.com/TamCore/autoupdate-oh-my-zsh-plugins.git
